@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Work+Sans:wght@200;300;500;600&display=swap');

* {

    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}



/* banner start */
.header {
    background-image: url('../images/banner/banner2.png');
    width: 100%;
    height: 936px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 130px;

}

.banner-title {
    text-align: right;
    padding-top: 300px;
    padding-bottom: 167px;
    padding-right: 230px;
    padding-left: 845px;
}

.banner-head {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.banner-description {

    font-weight: 400;
    font-size: 20px;
    color: #444343;
    line-height: 26px;
    margin-bottom: 32px;
    line-height: 1.5;
}

.btn-primary {
    width: 160px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    background-color: #f15b22;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
}

/* about */
.container {
    display: flex;
    gap: 35px;
    padding-left: 320px;
    padding-right: 182px;
}

.info {
    padding-top: 200px;
    padding-left: 113px;

}

.image {
    margin-left: 100px;
}

.about-title {
    margin-bottom: 27px;
    font-weight: 700;
    font-size: 55px;
    color: #151414;

}





.info-description {
    font-weight: 400;
    font-size: 20px;
    color: #5e5c5ce1;
    margin-bottom: 13px;
    line-height: 1.3;

}

.list {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    color: #444343c6;

}

.fa-solid {
    padding-right: 14px;
}

/* services */

.services {
    text-align: center;
    margin-top: 153px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;

}

.container1 {
    display: flex;
    gap: 20px;
    padding-left: 300px;
    padding-right: 500px;

    justify-content: space-between;
    margin-bottom: 132px;

}

.image {
    /* margin-right: 10px; */
    text-align: center;
    margin-bottom: 24px;
}

.service-title {
    text-align: center;
    margin-bottom: 10px;

}

.icon {
    margin-bottom: 24px;
}

.icon-info {
    color: #444343e2;
}

/* contact start */
.contact {
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;

    width: 1000x;
    height: 350px;
    margin-left: 400px;
    margin-right: 230px;
    margin-bottom: 122px;
}

.contact-info {
    text-align: left;
    padding-top: 57px;
    padding-left: 64px;
    margin-bottom: 122px;
}

.contact-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;

    color: #FFFFFF;
    margin-bottom: 24px;
}

.contact-btn-primary {
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2393.3px;
    border: 0;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #F15B22;
}

/* footer */
.footer {
    background-color: #151414;
    width: 100%;
    height: 700px;
    color: white;
}

.footer-container {
    display: flex;
    gap: 24px;
}

.footer-left-site {
    padding-left: 299px;
    padding-top: 200px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 16px;
    color: #F8F8F8;
}

.footer-description {
    line-height: 1.5;
    padding-bottom: 24px;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */


    color: #FFFFFF;
}

.email {
    padding-bottom: 26px;
}

.phone {
    padding-bottom: 20px;
}

.web-icon {
    display: flex;
    gap: 10px;
    list-style-type: none;

}


.footer-right-site {
    padding-left: 331px;
    padding-top: 200px;
    padding-right: 232px;
    padding-bottom: 233px;
}



.subscribe {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    padding-bottom: 31px;
    color: #FFFFFF;
}

.email-field {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px white solid;
    background-color: #151414;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    padding-left: 21px;


}

.subscribe-btn-primary {
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2393.3px;
    border: 0;
    background: #FFFFFF;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #F15B22;
}